<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Snippet Box</title>
    <link rel="manifest" href="/manifest.json">
</head>

<body data-sa-theme="14">
    <div id="root"></div>
</body>
