@import '../../styles/colors.scss';

.login-page {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  h1, h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .login-box {
    background-color: rgba(#000, .5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 50%;
  }

  .flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-box > div {
    width: 360px;
  }

  img {
    width: 100%;
    display: block;
    margin-bottom: 50px;
  }

  .row, [class*='col-'] {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }

  form > div {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}