@import "../../../../node_modules/material-design-iconic-font/dist/css/material-design-iconic-font.css";
@import "../../../../node_modules/animate.css/animate.min.css";
@import "../../../../node_modules/jquery.scrollbar/jquery.scrollbar.css";

@import "../../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "./app.scss";
@import "./modal.scss";

.gravatar {
  margin-right: 10px;
  border-radius: 50%;
}

html, body {
  width: 100%;
  height: 100%;
}

$modal-background-opacity: .25;

.fade.in.modal {
  background-color: rgba(#000, $modal-background-opacity);
  // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  // background: rgba(125,126,125,$modal-background-opacity); /* Old browsers */
  // background: -moz-linear-gradient(-45deg, rgba(125,126,125,$modal-background-opacity) 0%, rgba(14,14,14,$modal-background-opacity) 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(-45deg, rgba(125,126,125,$modal-background-opacity) 0%,rgba(14,14,14,$modal-background-opacity) 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(135deg, rgba(125,126,125,$modal-background-opacity) 0%,rgba(14,14,14,$modal-background-opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.modal-content {
  background-color: rgba(#000, .5);
}