.layer-overlay {
  position: 'fixed';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backgroundColor: rgba(#000, 0.75);
  z-index: 2000;
}

.layer-content {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background: rgba(#000, .5);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  box-shadow: 3px 3px 15px rgba(#000, .5);
  outline: none;
  padding: 20px;
  z-index: 3000;
}